<h1>Home</h1>

@*Inizializzo la property Model di RazorPage *@
@model List<Pizza>

@if (Model.Count() == 0)
{
    <h3 class="text-center">Non sono presenti pizze nel menù.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Immagine</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pizza pizza in Model)
            {
                @if(pizza.Available == true)
                {
                    <tr>
                        <td><a href="@Url.Action("Details",new {id = pizza.Id})">@pizza.Id</a></td>
                        <td class="title">@pizza.Name</td>
                        <td class="description">
                            @pizza.Description
                        </td>
                        <td class="image">
                            <img class="post-list-image" src="@pizza.Image" alt="mmm pizza" width="900" height="400">
                        </td>
                        <td class="price">
                            @pizza.Cost €
                        </td>
                        <td>
                            <a href="@Url.Action("Details",new {id = pizza.Id})"><button type="button" class="btn btn-info"> Dettagli Pizza </button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}